{% extends 'normal_user_generic.html' %}
{% block content %}

<!-- Waste List Heading -->
<h1 class="page-title">Waste List</h1>

<!-- Table Container -->
<div class="table-container">
  <table class="waste-table">
    <thead>
      <tr>
        <th>Weight (kg)</th>
        <th>Category</th>
        <th>Description</th>
        <th>Date Collected</th>
        <th>Yet Collected</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for waste in wastes %}
      <tr>
        <td>{{ waste.weight }}</td>
        <td>{{ waste.category }}</td>
        <td>{{ waste.description }}</td>
        <td>{{ waste.date_collected }}</td>
        <td>{% if waste.is_collected %}Yes{%else%}No{% endif %}</td>
        <td>
          <a href="{% url 'wastes:edit_waste' waste.id %}" class="action-btn edit-btn">Edit</a>
          <a href="{% url 'wastes:delete_waste' waste.id %}" class="action-btn delete-btn">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}
